<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demo{% endblock %}</title>
        <link rel="icon" href={{ asset('img/icon.png') }}> {# logo onglet #}
        {% block stylesheets %} {# Bootstrap #}



        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %} {#importe les css etc de \asset  #}

        {% endblock %}
    </head>
    <header>
        {% include '_navbar.html.twig' %}
    </header>
<main>
        {% block body %}

        {% endblock %}
</main>
</html>
